<div class="py-2 main">
    <div class="row">
        <div class="col-md-6 col-12"  *ngFor="let info of infos">
            <div class="card shadow-sm py-3 mb-2 info">
                <div class="row mb-1">
                    <div class="col-12 d-flex justify-content-end"  *ngIf="myProfile">
                        <strong style="text-decoration: underline; font-size: small;"><a (click)="edit(info.text, info.title)" data-toggle="modal" data-target="#myModal">Edit</a></strong>    
                    </div>
                    <div class="col-sm-2 col-2">
                        <fa-icon [icon]=info.icon></fa-icon>
                    </div>
                    <div class="col-sm-10 col-10">
                        <span>
                            <span>{{info.text}}</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h4 style="text-align: center;">Edit your {{title}}</h4>
                <form class="px-5 py-2" [formGroup]="form">
                    <input type="text" class="form-control" value="{{text}}" [formControl]="value">
                </form>
            </div>
            <div class="modal-footer d-flex justify-content-center">
              <button type="submit" class="btn purple-btn" data-dismiss="modal" (click)="saveChanges(title)" [disabled]="form.invalid">Save changes</button>
              <button type="button" class="btn white-btn" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>