<div class="py-2 main">
    <div class="row">
        <div class="col-md-6 col-12">
            <div class="card shadow-sm py-3 mb-2 info">
                <div class="row mb-1">
                    <div class="col-sm-1 col-2">
                        <fa-icon [icon]="faHouseUser"></fa-icon>
                    </div>
                    <div class="col-sm-11 col-10">
                        <span>Lives in New York</span>
                    </div>
                </div>
                <div class="row mb-1">
                    <div class="col-sm-1 col-2">
                        <fa-icon [icon]="faBriefCase"></fa-icon>
                    </div>
                    <div class="col-sm-11 col-10">
                        <span>Works at Tech Company</span>
                    </div>
                </div>
                <div class="row mb-1">
                    <div class="col-sm-1 col-2">
                        <fa-icon [icon]="faGraduationCap"></fa-icon>
                    </div>
                    <div class="col-sm-11 col-10">
                        <span>Studied at Harvard University</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-12">
            <div class="card shadow-sm px-5 py-2 mb-2">
                <div class="row">
                    <fa-icon [icon]="faQuoteLeft"></fa-icon>
                </div>
                <div class="row pb-1">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta deserunt ex adipisci nam laudantium natus, 
                    incidunt voluptas saepe explicabo.
                </div>
                <div class="row d-flex justify-content-end">
                    <fa-icon [icon]="faQuoteRight"></fa-icon>
                </div>
            </div>
        </div>
    </div>
</div>