<a data-toggle="modal" data-target="#myModal">Edit</a>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h4 style="text-align: center;">Edit your</h4>
                <form class="px-5 py-2">
                    <input type="text" class="form-control">
                    <input type="file">
                </form>
            </div>
            <div class="modal-footer d-flex justify-content-center">
              <button type="submit" class="btn purple-btn" data-dismiss="modal">Save changes</button>
              <button type="button" class="btn white-btn" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>