<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 col-0"></div>
        <div class="col-md-6 col-12 d-flex justify-content-center">
            <img src="assets/images/cover.jpg" alt="" class="cover">
            <div class="row justify-content-center" style="margin-top: 30%;">
                <img src="assets/images/user.jpg" alt="" class="pp">
            </div>
        </div>
        <div class="col-md-3 col-0"></div>
    </div>
    <div class="row pt-4">
        <div class="col-12">
            <div class="d-flex justify-content-center" style="font-weight: bold;">
                23 followers | 45 following
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-end pt-4 mr-5 pr-2">
        <app-post></app-post>
    </div>
    <app-bio></app-bio>

    <div class="row d-flex justify-content-center pb-1">
        <app-post-card></app-post-card>
    </div>
</div>
