.cover {
    width: 90%;
    height: 80%;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    position: absolute;
    z-index: -1;
}

.pp {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

app-post-card {
    width: 90%;
}