<div class="container-fluid">
    <nav class="navbar">
        <div class="container-fluid">
           <span class="navbar-brand mb-0 h1 grey-2">Socially</span>
           <span class="grey-2">Register <i class="bi bi-person-plus-fill grey-2 ml-2"></i></span>
        </div>
    </nav>
    <div class="row d-flex justify-content-center square">
       <div class="col-12">
           <div class="row">
               <div class="col-sm-6 col-12">
                <app-adv></app-adv>
               </div>
               <div class="col-sm-6 col-12">
                <app-login></app-login>
               </div>
           </div>
       </div>
    </div>
    <div class="row">
        <div class="col-12">
            <app-links></app-links>
        </div>
    </div>
</div>