.cover {
    background-image: url(../../../../assets/images/home/home.png);
    height: 100%;
    background-repeat: repeat;
    background-size: 100% 100%;
    background-size: cover;
    z-index: 2;
}

.navbar-brand {
    font-size: 1.5rem;
}

.square {
    opacity: 90%;
    background-color: white;
    margin: {
        top: 10%;
        right: 12%;
        left: 12%;
        bottom: 0;
    }
    padding: 0%;
}

@media screen and (max-width: 575px) {
    .square {
        margin: 0%;
        padding: 0%;
        width: 90%;
    }
}