
<div class="row" style="margin: 0%;">
    <div class="col-md-2 col-12">
        <nav class="navbar">
            <div class="container-fluid">
              <span class="navbar-brand mb-0 h1">Socially</span>
            </div>
        </nav>
    </div>
    <div class="col-md-2 col-12 p-0 mb-0 pt-2">
        <div class="px-3 d-flex justify-content-center input-group">
            <span class="input-group-text">
              <fa-icon [icon]="faSearch"></fa-icon>
            </span>
            <input type="text" class="form-control" placeholder="Search socially..">
        </div>
        <hr class="m-0 hidden-hr">
    </div>
    <div class="col-md-8 col-12 pt-1 mb-0">
        <ul class="nav d-flex justify-content-end">
            <li class="nav-item">
                <a class="nav-link">
                  <div class="rounded-circle">
                      <fa-icon [icon]="faThumbTack" class="center"></fa-icon>
                  </div>
                </a>
            </li>
            <li class="nav-item">
              <a class="nav-link">
                <div class="rounded-circle">
                  <fa-icon [icon]="farBell" class="center"></fa-icon>
                </div>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link">
                <div class="rounded-circle">
                  <fa-icon [icon]="farCommentDots" class="center"></fa-icon>
                </div>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link">
                <div class="rounded-circle dropleft" id="dropdownMenu" data-toggle="dropdown" aria-expanded="false">
                    <img src="assets/images/user.jpg" alt="">
                </div>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu">
                  <a class="dropdown-item" [routerLink]="['/personal-profile']">Profile</a>
                  <a class="dropdown-item" (click)="logout()">Logout</a>
                </div>
              </a>
            </li>
        </ul>
    </div>
</div>
<hr class="mt-0">
