
<div class="row" style="margin: 0%;">
    <div class="col-md-2 col-12">
        <nav class="navbar">
            <div class="container-fluid">
              <span class="navbar-brand mb-0 h1">Socially</span>
            </div>
        </nav>
    </div>
    <div class="col-md-2 col-12 p-0 mb-0 pt-2">
        <div class="px-3 d-flex justify-content-center input-group">
            <span class="input-group-text">
              <i class="bi bi-search"></i>
            </span>
            <input type="text" class="form-control" placeholder="Search socially..">
        </div>
        <hr class="m-0 hidden-hr">
    </div>
    <div class="col-md-8 col-12 pt-1 mb-0">
        <ul class="nav d-flex justify-content-end">
            <li class="nav-item">
                <a class="nav-link">
                  <div class="rounded-circle">
                      <i class="bi bi-pin center"></i>
                  </div>
                </a>
            </li>
            <li class="nav-item">
              <a class="nav-link">
                <div class="rounded-circle">
                    <i class="bi bi-bell center"></i>
                </div>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link">
                <div class="rounded-circle">
                    <i class="bi bi-chat-dots center"></i>
                </div>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link">
                <div class="rounded-circle">
                    <img src="assets/images/pp.jpg" alt="">
                </div>
              </a>
            </li>
        </ul>
    </div>
</div>
<hr class="mt-0">