<div class="row">
    <!-- <div class="col-md-1">
        <nav class="navbar">
            <div class="container-fluid">
              <span class="navbar-brand mb-0 h1">Socially</span>
            </div>
        </nav>
    </div> -->
    <div class="col-md-2 col-12">
        <div class="p-3 d-flex input-group">
            <span class="input-group-text">
              <i class="bi bi-search"></i>
            </span>
            <input type="text" class="form-control" placeholder="Search socially..">

        </div>
    </div>
    <div class="col-md-8 col-12">
        <ul class="nav justify-content-end pt-1 ml-3">
            <li class="nav-item">
                <a class="nav-link">
                  <div class="rounded-circle">
                      <i class="bi bi-pin center"></i>
                  </div>
                </a>
            </li>
            <li class="nav-item">
              <a class="nav-link">
                <div class="rounded-circle">
                    <i class="bi bi-bell center"></i>
                </div>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link">
                <div class="rounded-circle">
                    <i class="bi bi-chat-dots center"></i>
                </div>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link">
                <div class="rounded-circle">
                    <img src="assets/images/pp.jpg" alt="">
                </div>
              </a>
            </li>
        </ul>
    </div>
</div>
<hr>