<div class="card px-2 py-2 shadow">
    <div class="row pt-1">
        <div class="col-6">
            <div class="row">
                <div class="col-lg-2 col-12">
                    <img src="assets/images/user.jpg" alt="" class="pp">
                </div>
                <div class="col-lg-7 col-12 ml-1">
                    <div class="row pt-2">
                        <div class="col-12">
                            <div class="row">
                               <strong> Hala Taleb</strong>
                            </div>
                            <div class="row time">
                                @02:45 am
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 d-flex justify-content-end">
            <button class="btn">
                <i class="bi bi-check"></i>
                Following
            </button>
        </div>
    </div>
    <div class="row pt-3 px-4">
        <div class="col-12">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt officiis dicta odit repellendus dolor eos sapiente?
        </div>
    </div>
    <div class="row pt-2 px-2">
        <div class="col-12">
            <img src="assets/images/user.jpg" alt="image" class="big-img">
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <app-actions></app-actions>
        </div>
    </div>
</div>