.main {
    height: 100%;
    padding-bottom: 10%;
    padding-top: 15%;
}

.semi-square {
    height: 70px;
    width: 100%;
    border: 3px solid white;
    border-radius: 15px;
    position: relative;
}

.list-group-item {
    border: none;
}

.paragraph {
    font-size: 1.1rem;
}

@media screen and (max-width: 350px) {
    .paragraph {
        font-size: 0.6rem;
    }

    .main {
        padding : {
            left: 0;
            right: 0;
        }
    }

    .semi-square {
        height: 2.5rem;
        width: 2.5rem;
    }
}