.navbar-brand {
    font-size: 2rem;
}

.rounded-circle {
    width: 50px;
    height: 50px;
    position: relative;
}

.bi {
    color: black;
}

img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

hr {
    padding-bottom: 0;
    margin-bottom: 0;
}

.row {
    margin: 0%;
}