<div class="card px-2 py-2 mb-5 shadow-sm">
    <div class="row pt-1">
        <div class="col-6">
            <div class="row pl-2">
                <div class="col-lg-1 col-4">
                    <img src="assets/images/user.jpg" alt="" class="pp">
                </div>
                <div class="col-lg-7 col-2">
                    <div class="row pt-2 ml-4">
                        <div class="col-12">
                            <div class="row">
                               <strong [innerText]="userName"></strong>
                            </div>
                            <div class="row time">
                                @02:45 am
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 d-flex justify-content-end">
            <button class="btn purple" *ngIf="!myProfile">
                <fa-icon [icon]="faCheck"></fa-icon>
                Following
            </button>
            <a style="font-size: small; text-decoration: underline;" class="pr-1 grey-1"><strong>Edit</strong></a>
        </div>
    </div>
    <div class="row pt-3 px-4">
        <div class="col-12">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt officiis dicta odit repellendus dolor eos sapiente?
        </div>
    </div>
    <div class="row pt-2 px-2">
        <div class="col-12">
            <img src="assets/images/user.jpg" alt="image" class="big-img">
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <app-actions></app-actions>
        </div>
    </div>
</div>